# Local files
*.class
.settings
.project
.classpath
.DS_Store

# VAADIN css theme and widget set
WebContent/VAADIN/themes/onlinestoreretailer/styles.css
WebContent/VAADIN/widgetsets/
src/co/edu/icesi/driso/osr/ui/widgetset/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin
