<div class="grid minigrid bottom-rounded-grid bottom-space-grid">
	<figure class="effect-bubba">
		<div location="image1"></div>
		<figcaption>
			<div location="heading1"></div>
			<div location="paragraph1"></div>
			<div location="readmore1"></div>
		</figcaption>
	</figure>
	<figure class="effect-bubba">
		<div location="image2"></div>
		<figcaption>
			<div location="heading2"></div>
			<div location="paragraph2"></div>
			<div location="readmore2"></div>
		</figcaption>
	</figure>
	<figure class="effect-bubba">
		<div location="image3"></div>
		<figcaption>
			<div location="heading3"></div>
			<div location="paragraph3"></div>
			<div location="readmore3"></div>
		</figcaption>
	</figure>
</div>